@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
  display: grid;
  /* grid-template-rows: 60px 1fr; */
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */

  grid-template-areas: "left right";

}

.sidebar {
  grid-area: left;
}

.clients {
  grid-area: right;
}

.products {
  grid-area: right;
}

.regions {
  grid-area: right;
}

.users{
  grid-area: right;
}